{% extends 'Base.html' %}

{% block title %}Abhout us{% endblock title %}
{% block body %}
<style>
  .cantaner{
    padding: auto;

  }
  .body1{
    background-color: yellowgreen;
    margin: 10px;
    padding: 20px;
  }
  .p{
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>

<!-- <div class="cantaner ">
    <div class="left">
      <h1 style="font-size: 90px;">About Us</h1>
      <p style="font-size: 40px;">Environment can be defined as a sum total of all the living and non-living elements and their effects that influence human life. While all living or biotic elements are animals, plants, forests, fisheries, and birds, non-living or abiotic elements include water, land, sunlight, rocks, and air.</p>
    </div>
    <div class="right">

      <!-- <img src="/Static/photos/pngwing.com (1).png"> -->
    </div>
  </div> 

  <!-- <div class="about-section">
    <h1>About Us</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
   -->
   <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis  body1">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic" style="font-size: 50px;">About us</h1>
      <p class="lead my-3 p1" style="font-size: 30px;">Environment can be defined as a sum total of all the living and non-living elements and their effects that influence human life. While all living or biotic elements are animals, plants, forests, fisheries, and birds, non-living or abiotic elements include water, land, sunlight, rocks, and air.</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p> -->
    </div>
    <!-- <div class="img1"><img src="/Static/photos/pngwing.com (1).png"></div> -->
  </div>
 
   

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/Static/photos/11.jpeg">
          <h2 class="fw-normal">Aditya Jyoti</h2>
          <p>22075005</p>
          <p>CSE(Btech)</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/Static/photos/10.jpeg">
          <h2 class="fw-normal">Sahil Patil</h2>
          <p>2207400</p>
          <p>CSE(IID)</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      
  
  
     

  {% endblock body %}