{% extends 'Base.html' %}

{% block title %}Home{% endblock title %}
  {% block body %}
  <div class="cantaner ">
    <div class="left">
      <h1>ENVIRONMENT</h1>
    </div>
    <div class="right">

      <img src="/Static/photos/pngwing.com (1).png">
    </div>
  </div>


  <div class="cantaner">
    <table class="container box2">
      <tr class="box">
        <th class="box1">
          <img class="img" src="/Static/photos/1.jpeg">
          <p class="text">35th Meeting of the Parties to the Montreal Protocol on Substances that Deplete the Ozone
            Layer</p>
        </th>
        <th>
          <img class="img" src="/Static/photos/2.jpeg">
          <p class="text">Latin America and the Caribbean Climate Week 2023</p>
        </th>
        <th><img class="img" src="/Static/photos/3.jpeg">
          <p class="text">23rd Meeting of the Forum of Ministers of Environment of Latin America and the Caribbean</p>
        </th>
      </tr>
      <tr class="box">
        <td><img class="img" src="/Static/photos/4.jpeg">
          <p class="text">Global framework agreed in Bonn sets targets to address harm from chemicals and waste</p>
        </td>
        <td><img class="img" src="/Static/photos/5.jpeg">
          <p class="text">Urgent action to cut methane emissions from fossil fuel operations essential to achieve global
            climate targets</p>
        </td>
        <td rowspan="2"><img class="img" src="/Static/photos/7.jpeg">
          <p class="text">UN plan promises massive emission cuts in the construction sector – the most polluting and
            toughest to decarbonise
          </p>
        </td>
      </tr>
    </table>
    <button>See more</button>
  </div>
  <!-- <tr class="box">
          <td><img class="img" src="/aditya/Static2/photos/1.jpeg">
            <p class="text">35th Meeting of the Parties to the Montreal Protocol on Substances that Deplete the Ozone Layer</p></td>
          <td><img class="img" src="/aditya/Static2/photos/1.jpeg">
            <p class="text">35th Meeting of the Parties to the Montreal Protocol on Substances that Deplete the Ozone Layer</p></td>
          <td>
            <img class="img" src="/aditya/Static2/photos/1.jpeg">
            <p class="text">35th Meeting of the Parties to the Montreal Protocol on Substances that Deplete the Ozone Layer</p>
          </td>  
        </tr> -->
  </table>

 

  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 center">Environment</div>
      </div>
      <div class="col">
        <div class="p-3">
          <h1>
            About
          </h1>
          <p>Environment can be defined as a sum total of all the living and non-living elements and their effects that influence human life. While all living or biotic elements are animals, plants, forests, fisheries, and birds, non-living or abiotic elements include water, land, sunlight, rocks, and air.</p>
        </div>
        <a href="/event" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>




  <div class="card text-center" style="background-color: black;">
    <div class="card-header" style="color: white;">
      Featured
    </div>
    <div class="card-body" style="background-color: lightslategray;">
      <h5 class="card-title" style="color: white;">Special title treatment</h5>
      <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary" style="color: white;">
      <p style="color: white;">2 days ago</p>
    </div>
  </div>
</div>
{% endblock body %}
